<div class='row'>
  <div class='span6'>
    <%= @plan.title %>
    <a href="<%= @plan.source_link %>">Source</a>
  </div>
  <div class='span6'>
    <img src="<%= @plan.image %>" />
  </div>
</div>

<%= @plan.summary %>

<%= @plan.supplies %>

<%= @plan.cutlist %>

<%= @plan.instructions %>

<%= @plan.steps %>
